<%
    const skills = {
        programming : ['JavaScript', 'ES6', 'TypeScript', 'Node JS'],
        frameworks : ['React', 'Redux', 'Angular v2+', 'NgRx', 'Express', 'Kendo'],
        design : ['HTML5', 'CSS3', 'SASS', 'EJS', 'Bootstrap', 'Material UI'],
        services: ['Firebase', 'AWS', 'Git', 'Jenkins', 'Bamboo'],
        build: ['Docker','Gulp','Webpack','Grunt'],
        testing: ['Jasmine', 'Karma', 'Jest'],
        patterns: ['Object Oriented', 'MVC', 'REST', 'Progressive Web Apps', 'Microservices'],
    }
%>
<h2 class="section-header">
    <span class="heading">TOOLS & TECHNOLOGIES</span>
</h2>
<div class="section-content clear-all">
    <div class="skill-stats">
        <span class="skill-bar javascript-skill" title="javascript">JavaScript</span>
        <span class="skill-bar html-skill" title="html">HTML</span>
        <span class="skill-bar css-skill" title="css">CSS</span>
        <span class="skill-bar other-skill" title="others">Others</span>
    </div>
    <ul class="skill-list">
        <li>
            <strong>Programming</strong>
            <ol>
                <% skills.programming.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Frameworks &amp; Libraries</strong>
            <ol>
                <% skills.frameworks.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Template &amp; Styling</strong>
            <ol>
                <% skills.design.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Services</strong>
            <ol>
                <% skills.services.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Build &amp; Deploy</strong>
            <ol>
                <% skills.build.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Testing</strong>
            <ol>
                <% skills.testing.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Others</strong>
            <ol>
                <% skills.patterns.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
    </ul>
</div>
