<%
    const skills = {
        programming : ['JavaScript', 'TypeScript', 'Node JS'],
        frameworks : ['React JS', 'Angular (v1, v2+)', 'jQuery', 'Lodash', 'RxJs' ],
        templating : ['HTML5', 'EJS', 'Handlebars', 'Bootstrap', 'Foundation'],
        design: ['CSS','SASS','Photoshop','Lightroom','SVG'],
        build: ['Docker','Gulp','Webpack','Jenkins','Grunt'],
        testing: ['Jasmine', 'Karma'],
        patterns: ['OOJS', 'MVC', 'REST', 'MVVM'],
        package: ['Bower','NPM','Homebrew'],
        versioning: ['Git', 'SVN']
    }
%>
<h2 class="section-header">
    <span class="heading">TOOLS & TECHNOLOGIES</span>
</h2>
<div class="section-content clear-all">
    <div class="skill-stats">
        <span class="skill-bar javascript-skill" title="javascript">JavaScript</span>
        <span class="skill-bar html-skill" title="html">HTML</span>
        <span class="skill-bar css-skill" title="css">CSS</span>
        <span class="skill-bar other-skill" title="others">Others</span>
    </div>
    <ul class="skill-list">
        <li>
            <strong>Programming</strong>
            <ol>
                <% skills.programming.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Frameworks & libraries</strong>
            <ol>
                <% skills.frameworks.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Templating</strong>
            <ol>
                <% skills.templating.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Design</strong>
            <ol>
                <% skills.design.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Build &amp; Deploy</strong>
            <ol>
                <% skills.build.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>

        <li>
            <strong>Unit Testing</strong>
            <ol>
                <% skills.testing.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Design patterns</strong>
            <ol>
                <% skills.patterns.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Package managers</strong>
            <ol>
                <% skills.package.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>
            </ol>
        </li>
        <li>
            <strong>Version control</strong>
            <ol>
                <% skills.versioning.forEach((item) => { %>
                    <li class="item"><%= item %></li>
                <% }) %>

            </ol>
        </li>
    </ul>
    <div>
        I hold no bias towards any contemporary technology or framework. Would ❤️ to get my hands dirty on Python, Go, Rust or anything similar if given an opportunity. 
    </div>
</div>
